<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application>
        <service
            android:name="org.bhargav.pansariwala.platform.PartnerLocationService"
            android:exported="false"
            android:foregroundServiceType="location"
            android:stopWithTask="false" />
    </application>
</manifest>
